body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fc8905;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.testimonial {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1.5rem;
    align-items: center;
}

.testimonial-text {
    font-style: italic;
    margin-bottom: 1rem;
}

.testimonial-author {
    text-align: right;
    font-weight: bold;
}